@model IEnumerable<Cole.Models.Persona>

@{
    ViewBag.Title = "Personas";
}
<div class="mdl-grid">

    <h2 class="mdl-cell--12-col">Listado personas</h2>
    <div class="mdl-cell">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">

            @Html.ActionLink("Crear nuevo", "Create", htmlAttributes: new { @Style = "text-decoration: none; color:white" }, routeValues: null)
        </button>


    </div>

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell--12-col">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Dni)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.TelCelular)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TelFijo)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.Domicilio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nacionalidad)
                </th>
                
                <th></th>
            </tr>
        </thead>


        <tbody>
            @foreach (var item in Model)
             {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Dni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelCelular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelFijo)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Domicilio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nacionalidad)
                </td>




                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Dni }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Dni }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Dni })
                </td>
            </tr>
             }
        </tbody>
    </table>

</div>