@model IEnumerable<Cole.Models.Persona>


@{
    ViewBag.Title = "EditarAlumnosPorCurso";
    Layout = "~/Views/Administrador/_LayoutAdministrador.cshtml";
}


    <div class="mdl-grid">

        <h2 class="mdl-cell--12-col">Editar alumnos del curso</h2>


        <form method="post" action="/Curso/EditarAlumnosPorCurso" class="mdl-cell--12-col">


            <div class="mdl-cell--8-col" style="display:contents">

                <input value=@ViewBag.idCurso id="idCurso" name="idCurso" hidden />

                <text style="margin-right:20px">Viendo el año:</text>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="padding-right:12px; width:150px" id="buscarPorAño">

                    <div class="col-md-10">
                        <input class="mdl-textfield__input" type="number" id="año" name="año" value=@ViewBag.viendoAño step="1" min="2014" maxlength="4" />
                        <label class="mdl-textfield__label" for="nro">
                            Filtrar por año
                        </label>
                        <span class="mdl-textfield__error" id="errorBuscarAño">@ViewBag.ErrorBuscarAño</span>
                    </div>
                </div>


                <button class="mdl-button mdl-js-button mdl-button--icon" type="submit">
                    <i class="material-icons">search</i>
                </button>


            </div>
        </form>

        <form method="post" action="/Curso/AñadirAlumnoAlCurso" class="mdl-cell--12-col">



            <div class="mdl-cell--8-col" style="display:contents">


                <input value=@ViewBag.idCurso id="idCurso" name="idCurso" hidden />

                <text style="margin-right:20px">Añadir alumno:</text>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="padding-right:12px; width:150px" id="dniAlumno">

                    <div class="col-md-10">
                        <input class="mdl-textfield__input" type="number" id="dni" name="dni" />
                        <label class="mdl-textfield__label" for="nro">
                            D.N.I. del alumno
                        </label>
                        <span class="mdl-textfield__error">

                        </span>
                    </div>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="padding-right:12px; width:150px" id="agregarEnAño">

                    <div class="col-md-10">
                        <input class="mdl-textfield__input" type="number" id="año" name="año" value=@DateTime.Now.Year step="1" min="2014" maxlength="4" />
                        <label class="mdl-textfield__label" for="nro">
                            Año del cursado
                        </label>
                        <span class="mdl-textfield__error">

                        </span>
                    </div>
                </div>


                <button class="mdl-button mdl-js-button mdl-button--icon" type="submit">
                    <i class="material-icons">add</i>

                </button>


            </div>

            <text style="color:red;text-align:center" id="errorAñadirAlumno">@ViewBag.ErrorAñadirAlumno</text>

        </form>

            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell--10-col" id="tabla">
                <thead>
                    <tr>
                        <th>
                            D.N.I.
                        </th>

                        <th>
                            Nombre
                        </th>

                        <th>
                            Apellido
                        </th>

                        <th></th>
                    </tr>
                </thead>


                <tbody>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="4" style="color:red;text-align:center">El curso no contiene alumnos</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dni)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Apellido)
                                </td>

                                <td>

                                    <form method="post" action="~/Curso/EliminarAlumno">

                                        <input value="@item.Dni" id="dni" name="dni" hidden />
                                        <input value="@ViewBag.idCurso" id="idCurso" name="idCurso" hidden />
                                        <input value="@ViewBag.viendoAño" id="año" name="año" hidden />

                                        <button class="mdl-button mdl-js-button" type="submit">
                                            <i class="material-icons mdc-button__icon" aria-hidden="true" style="color:red">delete</i>

                                        </button>
                                    </form>



                                    
                                </td>

                            </tr>
                        }

                    }

                </tbody>
            </table>
        


            <script src="~/Content/ValidacionesEditarAlumnosPorCurso.js"></script>

    </div>