@model IEnumerable<Cole.Models.Curso>

@{
    Layout = "~/Views/Administrador/_LayoutAdministrador.cshtml";
    ViewBag.Title = "Cursos";
}


<div class="mdl-grid">


    <h2 class="mdl-cell--12-col">Listado de cursos</h2>
    <div class="mdl-cell--8-col" style="display:contents">
        
        <form method="post" action="Index" class="mdl-cell--8-col">

            <div class="mdc-select" id="SelectNro">

                <i class="mdc-select__dropdown-icon"></i>
                @Html.DropDownList("nro",(IEnumerable<SelectListItem>)ViewBag.Numeros, htmlAttributes: new { @class = "mdc-select__native-control", @style = "height:45px; width:120px", @id = "nro"})

                <label for="SearchBy" class="mdc-floating-label">Nro del curso</label>
                <div class="mdc-line-ripple"></div>
            </div>

            


            <div class="mdc-select" id="SelectDiv">

                <i class="mdc-select__dropdown-icon"></i>
                @Html.DropDownList("division", (IEnumerable<SelectListItem>)ViewBag.Divisiones, htmlAttributes: new { @class = "mdc-select__native-control", @style = "height:45px; width:120px" , @id = "division"})

                <label for="SearchBy" class="mdc-floating-label">Div del curso</label>
                <div class="mdc-line-ripple"></div>
            </div>

            <script>

                const selectNro = new mdc.select.MDCSelect(document.getElementById("SelectNro"));
                const selectDiv = new mdc.select.MDCSelect(document.getElementById("SelectDiv"));
    
            </script>

            <button class="mdl-button mdl-js-button mdl-button--icon" type="submit" value="Submit">
                <i class="material-icons">search</i>
            </button>
        </form>
        <div class="mdl-cell--3-col">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="margin-top:12px; margin-left:50px">
                @Html.ActionLink("Crear nuevo", "Create", htmlAttributes: new { @Style = "text-decoration: none; color:white; margin-left:0px" }, routeValues: null)
            </button>
        </div>


    </div>
    <br />
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell--10-col">
        <thead>
            <tr>
                <th>
                    Numero
                </th>

                <th>
                    Division
                </th>

                <th>
                    Nivel
                </th>

                <th></th>
            </tr>
        </thead>


        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="3" style="color:red;text-align:center">No se han encontrado coincidencias</td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nro)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Division)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Nivel)
                        </td>

                        <td>

                            <button style="float:right" class="mdl-button mdl-js-button" type="button" id="editar @item.Id" onclick="location.href='@Url.Action("Edit", "Curso", new { id = item.Id })';return false;">
                                <i class="material-icons mdc-button__icon" aria-hidden="true">edit</i>
                                <div class="mdl-tooltip" for="editar @item.Id">
                                    Editar
                                </div>
                            </button>

                            <button style="float:right; color:red" class="mdl-button mdl-js-button" type="button" id="tomarAsistencia @item.Id" onclick="location.href='@Url.Action("TomarAsistencia", "Curso", new { idCurso = item.Id })';return false;">

                                <img src="~/Content/tomar_Asistencia.png" style="width:24px" />
                                <div class="mdl-tooltip" for="tomarAsistencia @item.Id">
                                    Tomar asistencia
                                </div>

                            </button>

                            <button style="float:right; color:red" class="mdl-button mdl-js-button" type="button" id="verAsistencia @item.Id" onclick="location.href='@Url.Action("VerInasistencias", "Curso", new { idCurso = item.Id })';return false;">

                                <img src="~/Content/ver_inasistencia.png" style="width:24px" />
                                <div class="mdl-tooltip" for="verAsistencia @item.Id">
                                    Ver inasistencias
                                </div>

                            </button>

                            <button style="float:right; color:red" class="mdl-button mdl-js-button" type="button" id="alumnos @item.Id" onclick="location.href='@Url.Action("EditarAlumnosPorCurso", "Curso", new { idCurso = item.Id, año = @Int32.Parse(DateTime.Now.Year.ToString()) })';return false;">

                                <img src="~/Content/administrar_alumnos.png" style="width:24px"/>

                                <div class="mdl-tooltip" for="alumnos @item.Id">
                                    Administrar alumnos
                                </div>

                            </button>

                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>

</div>
