@*@model Cole.Models.Alumno

    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Details</title>
    </head>
    <body>
        <div>
            <h4>Alumno</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Persona.Contraseña)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Persona.Contraseña)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Tutor.Ocupacion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tutor.Ocupacion)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.Dni }) |
            @Html.ActionLink("Volver al listado", "Index")
        </p>
    </body>
    </html>*@


@model Cole.Models.Profesor

@{
    Layout = "~/Views/Administrador/_LayoutAdministrador.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalles</title>
</head>
<body>

    <div class="mdl-grid col-md-12">
        <div class="mdl-layout-spacer">

            <figure class="front">
                <div class="mdl-card-wide mdl-shadow--6dp">
                    <div class="mdl-card__title mdl-color--primary mdl-color-text--white relative">
                        <h2 class="mdl-card__title-text">Detalles del profesor</h2>
                    </div>

                    <div class="mdl-card__supporting-text" style="display:table-cell">

                        <div>
                            <ul>
                                <li>
                                    <text style="font-weight: bold">D.N.I:</text> @Model.Dni
                                </li>
                                <li>
                                    <text style="font-weight: bold">Apellido:</text> @Model.Persona.Apellido
                                </li>
                                <li>
                                    <text style="font-weight: bold">Nombre:</text> @Model.Persona.Nombre
                                </li>
                                <li>
                                    <text style="font-weight: bold">C.U.I.L.:</text> @Model.Persona.Cuil
                                </li>
                                <li>
                                    <text style="font-weight: bold">Sexo:</text> @Model.Persona.Sexo
                                </li>
                                <li>
                                    <text style="font-weight: bold">Domicilio:</text> @Model.Persona.Domicilio
                                </li>
                                <li>
                                    <text style="font-weight: bold">Fecha de nacimiento:</text> @Model.Persona.FechaNacimiento.Value.ToShortDateString()
                                </li>
                                <li>
                                    <text style="font-weight: bold">Nacionalidad:</text> @Model.Persona.Nacionalidad
                                </li>

                                <li>
                                    <text style="font-weight: bold">Númedo de celular:</text> @Model.Persona.TelCelular
                                </li>

                                <li>
                                    <text style="font-weight: bold">Teléfono fijo:</text> @Model.Persona.TelFijo
                                </li>


                            </ul>

                            <p>
                                @Html.ActionLink("Editar", "Edit", new { id = Model.Dni }) |
                                @Html.ActionLink("Volver al listado", "Index")
                            </p>
                        </div>
                    </div>
                </div>
            </figure>
        </div>
    </div>
</body>
</html>
