@model Cole.Models.Alumno

@{
    Layout = "~/Views/Administrador/_LayoutAdministrador.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    <div class="mdl-grid col-md-12">
        <div class="mdl-layout-spacer">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <figure class="front">
                    <div class="mdl-card-wide mdl-shadow--6dp">
                        <div class="mdl-card__title mdl-color--primary mdl-color-text--white relative">
                            <h2 class="mdl-card__title-text">Añadir alumno</h2>
                        </div>
                        
                        <div class="mdl-card__supporting-text" style="display:table-cell">

                                
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="padding-right:10px">

                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Persona.Dni, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                                        <label class="mdl-textfield__label" for="Persona.Dni">
                                            Dni
                                        </label>
                                        @Html.ValidationMessageFor(model => model.Persona.Dni, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Tutor.Dni, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                                        <label class="mdl-textfield__label" for="DniTutor">
                                            Dni del tutor
                                        </label>
                                        @Html.ValidationMessageFor(model => model.DniTutor, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            <div class="mdl-grid col-md-12">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="padding-right:10px">
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Tutor.Ocupacion, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                                        <label class="mdl-textfield__label" for="Tutor.Ocupacion">
                                            Ocupación del tutor
                                        </label>
                                        @Html.ValidationMessageFor(model => model.Tutor.Ocupacion, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Persona.Nombre, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                                        <label class="mdl-textfield__label" for="Persona.Nombre">
                                            Nombre del alumno
                                        </label>
                                        @Html.ValidationMessageFor(model => model.Persona.Nombre, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="mdl-grid col-md-12">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="padding-right:10px">
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Persona.Apellido, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                                        <label class="mdl-textfield__label" for="Persona.Apellido">
                                            Apellido del alumno
                                        </label>
                                        @Html.ValidationMessageFor(model => model.Persona.Apellido, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Persona.Cuil, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                                        <label class="mdl-textfield__label" for="Persona.Cuil">
                                            Cuil
                                        </label>
                                        @Html.ValidationMessageFor(model => model.Persona.Cuil, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                            <div class="mdl-grid col-md-12">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="padding-right:10px">
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Persona.TelCelular, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                                        <label class="mdl-textfield__label" for="Persona.TelCelular">
                                            Teléfono Celular
                                        </label>
                                        @Html.ValidationMessageFor(model => model.Persona.TelCelular, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Persona.TelFijo, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                                        <label class="mdl-textfield__label" for="Persona.TelFijo">
                                            Teléfono fijo
                                        </label>
                                        @Html.ValidationMessageFor(model => model.Persona.TelFijo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="mdl-grid col-md-12">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="padding-right:10px">
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Persona.Contraseña, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                                        <label class="mdl-textfield__label" for="Persona.Contraseña">
                                            Contraseña
                                        </label>
                                        @Html.ValidationMessageFor(model => model.Persona.Contraseña, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Persona.Sexo, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                                        <label class="mdl-textfield__label" for="Persona.Sexo">
                                            Sexo
                                        </label>
                                        @Html.ValidationMessageFor(model => model.Persona.Sexo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="mdl-grid col-md-12">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="padding-right:10px">
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Persona.Domicilio, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                                        <label class="mdl-textfield__label" for="Persona.Domicilio">
                                            Domicilio
                                        </label>
                                        @Html.ValidationMessageFor(model => model.Persona.Domicilio, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Persona.Nacionalidad, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                                        <label class="mdl-textfield__label" for="Persona.Nacionalidad">
                                            Nacionalidad
                                        </label>
                                        @Html.ValidationMessageFor(model => model.Persona.Nacionalidad, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="mdl-grid col-md-12" >
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Persona.FechaNacimiento, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                                        <label class="mdl-textfield__label" for="Persona.FechaNacimiento">
                                            Fecha de Nacimiento
                                        </label>
                                        @Html.ValidationMessageFor(model => model.Persona.FechaNacimiento, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                                <div class="mdl-card__actions mdl-card--border">
                                    <div class="mdl-grid">
                                        <input type="submit" value="Añadir" class="mdl-cell mdl-cell--12-col mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white" />
                                    </div>
                                </div>
                            </div>


                        </div>
                </figure>
            }
        </div>
    </div>
</body>
</html>
